In [2]:
import numpy as np
import pandas as pd

### 时间序列  
 - 时间戳(timestamp)
 - 固定周期(period)
 - 时间间隔(interval)

### date_range
  * 可以指定开始时间与周期
  * H：小时
  * D：天
  * M：月

In [3]:
# TIMES #2016 Jul 7/1/2016 2016-07-01 2016/07/01...
rng = pd.date_range('2016/07/01', periods=10, freq='D')
print(rng)
rng = pd.date_range('2016/07/01', periods=10, freq='3D')
print(rng)
rng = pd.date_range('2016/07/01', periods=10, freq='M')
print(rng)

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2016-07-01', '2016-07-04', '2016-07-07', '2016-07-10',
               '2016-07-13', '2016-07-16', '2016-07-19', '2016-07-22',
               '2016-07-25', '2016-07-28'],
              dtype='datetime64[ns]', freq='3D')
DatetimeIndex(['2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30'],
              dtype='datetime64[ns]', freq='M')

In [4]:
time=pd.Series(np.random.randn(20), index=pd.date_range(pd.datetime(2016, 1, 1), periods=20))
print(time)

2016-01-01   -2.738372
2016-01-02    0.367500
2016-01-03   -0.768881
2016-01-04    0.784654
2016-01-05    1.592595
2016-01-06    2.012417
2016-01-07   -0.532578
2016-01-08   -0.185498
2016-01-09   -0.693614
2016-01-10   -0.797822
2016-01-11   -1.647884
2016-01-12   -0.918827
2016-01-13    0.082519
2016-01-14   -0.035662
2016-01-15    0.957049
2016-01-16    0.123884
2016-01-17    0.980739
2016-01-18   -0.053883
2016-01-19    0.276773
2016-01-20    0.048328
Freq: D, dtype: float64

### truncate 过滤

In [5]:
time.truncate(before='2016-01-09')

2016-01-09   -0.693614
2016-01-10   -0.797822
2016-01-11   -1.647884
2016-01-12   -0.918827
2016-01-13    0.082519
2016-01-14   -0.035662
2016-01-15    0.957049
2016-01-16    0.123884
2016-01-17    0.980739
2016-01-18   -0.053883
2016-01-19    0.276773
2016-01-20    0.048328
Freq: D, dtype: float64

In [6]:
time.truncate(after='2016-1-09')

2016-01-01   -2.738372
2016-01-02    0.367500
2016-01-03   -0.768881
2016-01-04    0.784654
2016-01-05    1.592595
2016-01-06    2.012417
2016-01-07   -0.532578
2016-01-08   -0.185498
2016-01-09   -0.693614
Freq: D, dtype: float64

In [8]:
print(time['2016-01-09'])

-0.693614259737

In [9]:
print(time['2016-01-07':'2016-01-15'])

2016-01-07   -0.532578
2016-01-08   -0.185498
2016-01-09   -0.693614
2016-01-10   -0.797822
2016-01-11   -1.647884
2016-01-12   -0.918827
2016-01-13    0.082519
2016-01-14   -0.035662
2016-01-15    0.957049
Freq: D, dtype: float64

In [11]:
data = pd.date_range('2016-01-01', '2016-06-01', freq='M')
print(data)

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31'],
              dtype='datetime64[ns]', freq='M')

### 参数说明
别名     偏移量类型      说明
 - D    Day            每日日历
 - B    BusinessDay      每工作日
 - H    Hour           每小时
 - T或min  Minute         每分
 - S    Second          每秒
 - L或ms  Milli          每毫秒
 - U    Micro          每微秒
 - M    MonthEnd        每月最后一个日历日
 - BM   BusinessMonthEnd   每月最后一个工作日
 - MS   MonthBegin       每月第一个日历日
 - BMS  BusinessMonthBegin   每月第一个工作日
 - W-MON, W-TUE...   Week     从指定的星期几(MON, TUE, WED, THU FRI, SAT, SUN）开始算起，每周
 - WOM-1MON, WOM-2MON...   WeekOfMonth    产生每月第一，第二，第三或第四周的星期几。例如：WOM-3FRI表示每月第3个星期五
 - Q-JAN, Q-FEB, ...      QuarteEnd     对于指定月份(JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC)结束的年度，每季度最后一月的最后一个日历日
 - BQ-JAN, BQ-FEB...      BusinessQuarterEnd    对于指定月份(JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC)结束的年度，每季度最后一月的最后一个日历日
 - QS-JAN, QS-FEB...      QuarterBegin        对于指定月份(JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC)结束的年度，每季度最后一月的第一个日历日
 - BQS-JAN, BQS-FEB...    BusinessQuarterBegin   对于指定月份(JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC)结束的年度，每季度最后一月的第一个工作日

In [13]:
# 时间戳
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [14]:
# 可以指定更多细节
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [15]:
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [16]:
t = pd.Timestamp('2016-07-10 10:15')

In [18]:
# 时间区间
pd.Period('2016-01')

Period('2016-01', 'M')

In [19]:
pd.Period('2016-07-01')

Period('2016-07-01', 'D')

In [20]:
# Time Offsets
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [30]:
print(pd.Period('2016-07-01 10:10') + pd.Timedelta('1 hour'))
print(pd.Period('2016-07-01 10:10') + pd.Timedelta('1 day'))
print(pd.Timestamp('2016-07-01 10:10') + pd.Timedelta('15 ns'))

2016-07-01 11:10
2016-07-02 10:10
2016-07-01 10:10:00.000000015

In [32]:
p1 = pd.period_range('20160710 10:10', freq='25H', periods=10)
print(p1)

PeriodIndex(['2016-07-10 10:00', '2016-07-11 11:00', '2016-07-12 12:00',
             '2016-07-13 13:00', '2016-07-14 14:00', '2016-07-15 15:00',
             '2016-07-16 16:00', '2016-07-17 17:00', '2016-07-18 18:00',
             '2016-07-19 19:00'],
            dtype='period[25H]', freq='25H')

In [34]:
p2 = pd.period_range('2016-07-10 10:10', freq='1D1H', periods=10)
print(p2)

PeriodIndex(['2016-07-10 10:00', '2016-07-11 11:00', '2016-07-12 12:00',
             '2016-07-13 13:00', '2016-07-14 14:00', '2016-07-15 15:00',
             '2016-07-16 16:00', '2016-07-17 17:00', '2016-07-18 18:00',
             '2016-07-19 19:00'],
            dtype='period[25H]', freq='25H')

In [44]:
# 指定索引
rng = pd.date_range('2016 Jul 1', periods=10, freq='D')
print(rng)
print(pd.Series(range(len(rng)), index=rng))

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')
2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int64

In [46]:
periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index=periods)
print(ts)

2016-01   -1.223798
2016-02   -1.071912
2016-03   -1.052463
Freq: M, dtype: float64

In [47]:
type(ts)

pandas.core.series.Series

In [49]:
# 时间戳和时间周期可以转换
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods=10, freq='H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [53]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int64

In [54]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45']

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int64

In [57]:
ts['2016-07-10 08:30':'2016-07-10 11:45']

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int64

In [58]:
ts['2016-07-10 08:30':'2016-07-10 11:45'].to_period

<bound method Series.to_period of 2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int64>